/*
Projects can override this file. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/

$primary: #2e7d32;   // verde principal 🌱
$secondary: #2e7d32; // verde claro
$info: #2e7d32;
$dark: #1b5e20;

$google_font_name: "Work Sans";
$google_font_family: "Work Sans:300,400,500,600,700";

$font-family-base: "Work Sans", sans-serif;
