/*
Projects can override this file. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/

$primary: #2e7d32;   // verde principal 🌱
$secondary: #81c784; // verde claro
$info: #a5d6a7;
$dark: #1b5e20;

$google_font_name: "Inter";
$google_font_family: "Inter:300,400,500,600,700";

$font-family-base: "Inter", sans-serif;
